{% block content %}
  <h1>
    <a href="{% url 'lists:desire-delete' pk=desire.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'lists:desire-update' pk=desire.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h4>
    Name: {{ desire.name }}
    {% if desire.link %}
      <a target="_blank" href="{{ desire.link }}">🔗</a>
    {% else %}
    {% endif %}
  </h4>
  <h4>
    {% if desire.price %}
      Price: {{ desire.price }} €
    {% else %}
    {% endif %}
  </h4>
  <h4>
    {% if desire.status %}
      Status: ✔️
    {% else %}
      Status: 🛒
    {% endif %}
  </h4>
  <hr>
  <h4>Description:</h4>
  <p class="lead">
    {{ desire.description }}
  </p>
{% endblock %}

