{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %} Tables {% endblock %}

{% block content %}

  <div class="py-3">
    <div class="d-flex justify-content-between w-100 flex-wrap">
      <div class="mb-3 mb-lg-0">
        <h1 class="h4">Desire list</h1>
      </div>
      <div>
        <a href="{% url 'lists:desire-create' %}" class="btn btn-primary link-to-page">
          Create
        </a>
      </div>
    </div>
  </div>

  {% include "includes/search_form.html" %}

  <div class="card border-0 shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-centered table-nowrap mb-0 rounded">
          <thead class="thead-light">
          <tr>
            <th class="border-0 rounded-start">Name</th>
            <th class="border-0">Description</th>
            <th class="border-0">Price</th>
            <th class="border-0 rounded-end">Link</th>
          </tr>
          </thead>
          <tbody>
          {% for desire in desire_list %}
            <tr>

              <td>
                <div class="d-flex align-items-center">
                  <button
                      class="status-btn border-0 bg-transparent"
                      data-model="desire"
                      data-id="{{ desire.id }}"
                      data-status="{{ desire.status }}"
                  >
                    {% if desire.status %}
                      <span class="circle filled"></span>
                    {% else %}
                      <span class="circle"></span>
                    {% endif %}
                  </button>
                  <span
                      data-url="{% url 'lists:desire-detail' desire.id %}"
                      class="open-modal ml-2">
                        {{ desire.name }}
                  </span>
                </div>
              </td>

              <td class="open-modal" data-url="{% url 'lists:desire-detail' desire.id %}">
                {{ desire.description|truncate_words }}
              </td>

              <td class="open-modal" data-url="{% url 'lists:desire-detail' desire.id %}">
                {% if desire.price %}
                  {{ desire.price }} €
                {% else %}
                  ——
                {% endif %}
              </td>

              <td>
                {% if desire.link %}
                  <a target="_blank" href="{{ desire.link }}">🔗</a>
                {% else %}
                  ——
                {% endif %}
              </td>

            </tr>
          {% endfor %}

          <div id="modal" class="modal" style="display: none;">
            <div class="modal-content">
              <span class="close-modal">&times;</span>
              <div id="modal-body"></div>
            </div>
          </div>

          </tbody>
        </table>
      </div>
    </div>
  </div>

{% endblock content %}

{% block javascripts %}
  <script src="{% static 'assets/js/button_status_toggle.js' %}"></script>
  <script src="{% static 'assets/js/modal_handler.js' %}"></script>
{% endblock javascripts %}


