{% extends "base.html" %}
{% load custom_filters %}
{% load static %}

{% block title %} Tables {% endblock %}

{% block content %}
<div class="card-content">
  <div class="block">
    <div class="block-title">Wallets</div>
    <br>
    {% for wallet, money in monobank_wallets.items %}
      {{ wallet }} : {{ money }}<br>
    {% endfor %}
  </div>

  <div class="block">
    <div class="block-title">Rates</div>
    <br>
    {% for currency, rate in nbu_rates.items %}
      {{ currency }} : {{ rate }} ₴
      <br>
    {% endfor %}
  </div>

   <div class="block">
    <div class="block-title">Crypto Rates</div>
    <br>
    {% for currency, rate in crypto_rates.items %}
      {{ currency }} : {{ rate }} €
      <br>
    {% endfor %}
  </div>
</div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
