.bottom-panel {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: linear-gradient(
    to bottom,
    rgba(35, 35, 35, 0.8),
    rgba(37, 36, 36, 0.5)
  );
  backdrop-filter: blur(4px);
  color: white;
  text-align: center;
  border-radius: 16px;
  margin: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
  }

  &__icon-button {
    position: relative;
    background-color: rgba(12, 12, 12, 0.62);
    border-radius: 6px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s ease;
    border: 1px solid transparent;

    &:hover {
      border: 1px solid white;
      cursor: pointer;
    }

    &.active {
      border: 1px solid #545252;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 50%;
        transform: translateX(-50%);
        width: 4px;
        height: 4px;
        background-color: #c3c3c3;
        border-radius: 50%;
      }
    }
  }

  &__divider {
    width: 3.5px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.52);
    border-radius: 16px;
  }

  button {
    margin: 0 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
}
