{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'lists:event-delete' pk=event.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'lists:event-update' pk=event.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h4>
    Name: "{{ event.name }}"
  </h4>
  <h4>
    {% if event.status %}
      Status: ✔️
    {% else %}
      Status: ⌛
    {% endif %}
  </h4>
  <h4>
    Date: {{ event.date }}
  </h4>
  <hr>
  <h4>Description:</h4>
  <p class="lead">
    {{ event.description|linebreaksbr }}
  </p>
{% endblock %}
