.music-player-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sound-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sound-label {
  width: 60px;
  font-size: 1.2rem;
}

.volume-slider {
  flex-grow: 1;
  margin: 0 10px;
}

.icon-button {
  position: relative;
  background-color: rgba(36, 36, 36, 0.7);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s ease, background-color 0.2s ease;
  border: 1px solid transparent;

  button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      filter: brightness(0.9);
      transition: filter 0.2s ease;
    }
  }

  &:hover {
    border: 1px solid #aaa;
    background-color: rgba(60, 60, 60, 0.85);

    img {
      filter: brightness(1.2);
    }
  }
}

