.music-player-content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__header {
    font-size: 16px;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.sound-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sound-label {
  width: 50px;
  font-size: 1rem;
  flex-shrink: 0;
  text-align: left;
}

.volume-slider {
  flex-grow: 1;
  margin: 0 10px;
  min-width: 0;
}

.icon-button {
  flex-shrink: 0;
  position: relative;
  background-color: rgba(36, 36, 36, 0.7);
  border-radius: 8px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s ease, background-color 0.2s ease;
  border: 1px solid transparent;

  button {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    img {
      width: 24px;
      height: 24px;
      filter: brightness(0.9);
      transition: filter 0.2s ease;
    }
  }

  &:hover {
    border: 1px solid #aaa;
    background-color: rgba(60, 60, 60, 0.85);

    img {
      filter: brightness(1.2);
    }
  }
}
