{% extends 'website/base.html' %}


{% block container %}
      <div class="row">
        <section class="about-me line col-md-12 padding_30 padbot_45">
          <div class="section-title"><span></span>
            <h2>About Me</h2></div>
          <p class="font-16 top_30">Hello there! 👋 I am a Developer with expertise in Python,
            JavaScript, Django, and React.js. Skilled in designing scalable
            web applications using Django/Flask, with a solid grasp of OOP,
            SOLID principles. Experienced in integrating complex systems,
            implementing RESTful APIs, and managing databases like
            PostgreSQL, MongoDB, etc.

            <br><br>I am consistently improving my
            DevOps skills, including Docker containerization and deployment
            on my own Linux VPS. Also familiar with AWS, Kubernetes.
            I have strong understanding of Agile methodologies, with hands-on
            experience using tools like Jira and Trello. I've collaborated with
            designers using Figma and Adobe, improving product quality
            through attention to detail and consistency. Proficient in both
            English and German at an Upper-Intermediate level, facilitating
            effective communication in diverse team environments.

            <br><br>This website serves as my digital canvas for my development as a programmer and I am
            constantly updating and improving it. Visit my portfolio and certificates pages to check out my projects
            and certificates<br><br>

            I'm open to job offers or internships! :)
          </p>
        </section>
      </div>
      <div class="row">
        <section class="code-skills col-md-6 padding_60 padbot_50">
          <div class="section-title bottom_45"><span></span>
            <h2>Skills</h2></div>
          <ul class="skill-list">
            {% for skill in skills %}
              <li>
                <h3>{{ skill.name }}</h3>
                <div class="progress">
                  <div class="percentage" style="width:{{ skill.percentage }}%;"></div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>
        <section class="code-skills col-md-6 padding_60">
          <div class="section-title bottom_45"><span></span>
            <h2>Languages</h2></div>
          <ul class="skill-list">
            {% for language in languages reversed %}
              <li>
                <h3>{{ language.name }}</h3>
                <div class="progress">
                  <div class="percentage" style="width:{{ language.lvl }}%;"></div>
                </div>
              </li>
            {% endfor %}
          </ul>
        </section>
      </div>
{% endblock %}