{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Afina {% block title %}{% endblock %}</title>
  <link type="text/css" href="{% static 'assets/css/volt.css' %}" rel="stylesheet">
  <link type="text/css" href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>

<body>
{% include 'includes/sidebar.html' %}
<main class="content">
  {% block content %}{% endblock content %}
  {% block pagination %}
    {% include "includes/pagination.html" %}
  {% endblock %}
</main>
</body>

{% block javascripts %}{% endblock javascripts %}

</html>


