{% extends "base.html" %}
{% load static %}
{% block title %} Main {% endblock %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <h1 class="text-center m-5">Afina</h1>

  <section class="m-5 section section-lg bg-soft pt-0">
    <div class="container">
      <div class="row justify-content-center mb-5 mb-lg-6">
        <!--- Lists Service --->
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="card-content">
            <div class="block">
              <div class="block-title">Lists service</div>
              <ul class="index-ul">
                <li><a href="{% url 'lists:movie-list' %}">🎬 Movies</a></li>
                <li><a href="{% url 'lists:game-list' %}">🎮 Games</a></li>
                <li><a href="{% url 'lists:event-list' %}">🏖️️ Events</a></li>
                <li><a href="{% url 'lists:idea-list' %}">💡 Ideas</a></li>
                <li><a href="{% url 'lists:desire-list' %}">🛒 Desires</a></li>
                <li><a href="#">(📚 Books)</a></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
        <!--- Finances Service --->
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="card-content">
            <div class="block">
              <div class="block-title">Finances</div>
            </div>
          </div>
        </div>
        <!--- Website Project --->
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="card-content">
            <div class="block">
              <div class="block-title">Website</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% include 'includes/scripts.html' %}
