{% block content %}
  <h1>
    {{ newspaper.title }}
    <a href="{% url 'lists:game-delete' pk=game.id %}" class="btn btn-danger link-to-page">
      Delete
    </a>
    <a href="{% url 'lists:game-update' pk=game.id %}" class="btn btn-secondary link-to-page">
      Update
    </a>
  </h1>
  <h4>
    Name: "{{ game.name }}"
  </h4>
  <h4>
    {% if game.status %}
      Status: ✅
    {% else %}
      Status: 🎮
    {% endif %}
  </h4>
  <h4>
    {% if game.coop == "solo" %}
      Players: 👤
    {% elif game.coop == "double" %}
      Players: 👥
    {% else %}
      Players: 👥+
    {% endif %}
  </h4>
  {% if game.rate %}
    <h4>
      Rate: {{ game.rate }}
    </h4>
  {% endif %}
  <hr>
  <h4>Description:</h4>
  <p class="lead">
    {{ game.description }}
  </p>
  {% if game.review %}
    <h4>Review:</h4>
    <p class="lead">
      {{ game.review }}
    </p>
  {% endif %}
{% endblock %}
