{% load static %}


<div class="col-lg-3 col-md-4">
  <div class="profile">
    <div class="profile-name">
      <span>Daniil Halytskyi</span><br>
      <span class="job">Fullstack & DevOps</span>
    </div>
    <figure class="profile-image">
      <img src="{% static 'website/images/avatar.png' %}" alt="">
    </figure>
    <ul class="profile-information">
      <li>
        <span>🌍 Sofia, Bulgaria</span>
      </li>
      <li>
        <span><a class="link" href="tel:+380972964484">📞 +38 097 2964484</a></span>
      </li>
      <li>
        <span><a href="mailto:haldaniko@gmail.com" target="_blank">✉️ haldaniko@gmail.com</a></span>
      </li>
    </ul>
    <div class="col-md-12">
      <a target="_blank" class="black-link user-select-none"
         href="{% url 'website:document' 'CV. Daniil Halytskyi. Python Developer' %}">
        <button class="site-btn icon">Download CV</button>
      </a>

    </div>
  </div>
</div>
